        <!-- Header bar -->
        <header>
            <h2><a href="/">Site name</a></h2>
            <h2><a href="/">Site name</a></h2>
            <h2><a href="/">Site name</a></h2>
            <hr>
            <hr>
        </header>