<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gulp Twing Test</title>
    </head>
    <body>

        Tetsts

        {% block body -%}

            {{ include('partials/_header.twig') }}

            {% block main %}
            {% endblock main %}

            {{ include('partials/_aside.twig') }}

        {%- endblock body %}

        {{ include('partials/_footer.twig') }}

    </body>
</html>
