{% extends 'partials/_master.twig' %}

{% block main %}


        <h1>{{ record.title }}</h1>

        <h2>ohla</h2>
        <h2>ohla</h2>
        <h2>ohla</h2>
        <h2>ohla</h2>
        <h2>ohla</h2>
        <h2>ohla</h2>
        <h2>ohla</h2>

        {{ record.teaser }}

        {{ record.body }}


{% endblock main %}
